*.pyc
db.sqlite3
.DS_Store
shipBuilder/migrations/0001_initial.py

data.py

logfile

shipBuilder.dot

shipBuilder/testdata.py

shipBuilder/testdata2.py

stantonSpaceBarn/local_settings.py

scripts/data.py

scripts/new_data.py

stantonSpaceBarn/settings.py

*.jpg

.idea/