.icon-large {
    -webkit-transform: scale(1.1);
    -moz-transform:    scale(1.1);
    -ms-transform:     scale(1.1);
    -o-transform:      scale(1.1);
    transform:         scale(1.1);
}
.icon-active {
    color: green;
}
.over {
    -webkit-transform: scale(1);
    -moz-transform:    scale(1);
    -ms-transform:     scale(1);
    -o-transform:      scale(1);
    transform:         scale(1);
    opacity:1.0 !important;    
} 
.highlight {
    -webkit-transform: scale(2);
    -moz-transform:    scale(2);
    -ms-transform:     scale(2);
    -o-transform:      scale(2);
    transform:         scale(2);
    opacity:1.0 !important;    
} 
.drop-target-valid {
    background-color: #56bc76 !important;    
}
.item-port {
    border-radius:50%;
    border-color: #000000;
    border-width: 100%;
    border-style: solid;
    display:block;
    position:absolute;
    opacity:0.8;
    background-color: #eac85e;
    width:2.5%;
    height:6%;
    min-width:10px;
    min-height:10px;
    max-width:20px;
    max-height:20px;
}
.filled {
    opacity:0.3 !important;
}
.string-cell {
    cursor: pointer;
}
.filtered {
    border-color: green;
}
