/* here you can put your own css to customize and override the theme */

.page-content {
    background-color: rgb(44,44,44);
    color: rgb(200,200,200);
}
.page-title {
    color: rgb(250,250,250);
}
.header .navbar-brand img {
  padding-right: 20px;
}
.panel-heading h1{
    color: rgb(200,50,50);
}
.panel-default {
    color: rgb(0,0,0);
}
.panel-info {
    background-color: rgb(45,48,69);
}
