<html>
	<head>
    {% load static %}

    <script type='text/javascript' src='{% static "js/jquery-1.9.1.js" %}'></script>
    <script type='text/javascript' src='{% static "js/jquery.tablesorter.js" %}'></script>
    <script type="text/javascript" src='{% static "js/jquery-ui-1.10.3.custom.min.js" %}'></script>
    <script type="text/javascript" src='{% static "js/jquery.address.js?state=/" %}'></script>

    <link rel="stylesheet" type="text/css" href='{% static "css/ssb/jquery-ui-1.10.3.custom.css" %}'>

    <script type='text/javascript'>
    	$(document).ready(function(){
    		console.log('ready');
    	});
    </script>
	</head>

	<body>
	</body>
</html>